@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

*,
*::before,
*::after {
    font: inherit;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    width: 100%;
}

img {
    display: block;
}

input[type='file'] {
    display: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;

    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;

    line-height: 1.5;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 20;
    font-size: 20px;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
    text-align: center;

    font-weight: 300;
}

h1 strong {
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 0 1rem;
}

button,
input[type='submit'],
input[type='file'] + label {
    cursor: pointer;
    border: none;
    background: #444;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 16px;

    line-height: 1.25;

    transition: background 64ms;

    &:hover {
        background: #606060;
    }

    &.danger {
        background: #c40909;

        &:hover {
            background: #e71d1d;
        }
    }

    &.icon {
        padding: 0;
        display: grid;
        place-content: center;

        width: 1.5rem;
        height: 1.5rem;
    }
}

form {
    display: grid;
    place-items: center;
    gap: 1rem;

    width: 100%;
    max-width: 42rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;

    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.075);

    width: 100%;
    max-width: 42rem;
}

ul:empty {
    display: none;
}

li {
    display: grid;
    align-items: center;

    word-break: break-all;
    word-break: break-word;

    padding: 0.5rem;
}

li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

li a {
    color: #444;
}

#status:empty {
    display: none;
}

#recent-uploads li {
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
}
